
//
// Adjust variables and rules
//

$h1-font-size: $font-size-base * 1.25;
$h2-font-size: $font-size-base * 1.20;
$h3-font-size: $font-size-base * 1.15;
$h4-font-size: $font-size-base * 1.10;
$h5-font-size: $font-size-base * 1.05;
$lead-font-size: $font-size-base * 1.05;

