{% extends 'skeleton.unit' %}
{% set unit = {'id':'banner','style':'mt-2'} %}
{% block body %}
<header class="navbar navbar-expand-md navbar-light" style="background-color: transparent">
<h1 class="navbar-brand">{% block title %}{{ page.title }}{% endblock %}</h1>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<div class="mr-auto"></div>
<nav class="navbar-nav">
<a class="nav-item nav-link" href="{{ site.url }}/index.html">Home</a>
{% block links %}{% endblock %}
<a class="nav-item nav-link" href="{{ site.url }}/about.html">About</a>
</nav>
</div>
</header>
{% endblock %}
